nav {
    background-color: #abe;
    padding: 10px;
}

nav a {
    color: #eee;
    padding: 10px;
    display: block;
    font-size: 1.5rem;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    box-shadow: 20px 15px 20px #333;
    border: 1px solid #abe;
    padding: 10px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: #000;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}